* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .list-container {
    width: 80%;
    margin-top: 8vh;
  }
}

@media screen and (max-width: 576px) {
  .list-container {
    width: 95%;
    margin-top: 4vh;
  }
}
body {
  background-image: linear-gradient(120deg, #fa709a 0%, #fee140 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  overflow-y: scroll;
}
header {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.image{
  width:50px;
  height: 45px;
  margin-left:15px;
}
.list-container {
  min-height: 100vh;
  height: auto;
  width: 60%;
  border-radius: 1rem;
  margin: 2rem auto;
  margin-top: 2vh;
  box-shadow: 0.5rem 0.5rem 2rem -1rem #3a3939;
  margin-bottom: 20px;
  
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input{
  margin-left: 10px;
  
  
}
form input,
form button {
  padding: 1rem;
  font-size: 2vw;
  border: none;
  background: white;
  color:rgb(245, 14, 84) ;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}
.todo-input::placeholder {
  color: #fa709a; 
  font-family: 'Times New Roman', Times, serif;
  font-size: 2vw;
}
form button {
  color: #ff4772;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #ff4772;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(245, 14, 84);
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff4772;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(158, 252, 143);
}
.todo-item {
  padding: 0rem 0.5rem;
  word-break: break-word;

}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
  color: #eb4a7a;
  font-family:'Times New Roman', Times, serif;
  background-color: rgb(230, 228, 115); 
  width: 100%;
  box-sizing: border-box; 
  padding: 0.7rem;
 
}

